<div class="container">
	<div class="text-center">
<h1>Welcome to Bookers</h1>
<button class="btn btn-success">
<%= link_to "新規登録", new_user_registration_path, class: "sign_up" %>
</button>
<button class="btn btn-danger">
<%= link_to "ログイン", user_session_path, class: "sign_in" %>
</button>
</div>
</div>