<div class="container">
	<div class="text-center">
<% if flash[:notice] %>
 <%= flash[:notice] %>
 <% end %>
<h1>Welcome to Bookers</h1>
<%= link_to "新規登録", new_user_registration_path, class: "sign_up" %>
<%= link_to "ログイン", user_session_path, class: "sign_in" %>
</div>
</div>